{% extends "base.html" %}

{% block content %}

    <div class="jumbotron">
      <h3> Welcome To Visamo Kids MIS Portal! </h3>
      <p>Brief History</p>
        <p style="text-align: justify;">Visamo is a brainchild of Manjula Pooja Shroff, Chairperson Calorx Education & Research Foundation and an edu-preneur, who got aspiration from one of the victims of devastating earth quake occurred in early 2001. A parent belonging to socio-economically deprived society, who pledged that “can’t our children have good quality education?” This compelled her to think on those lines for such kids. Thus “Visamo Kids Foundation” (VKF) created an environment where they can “dare to dream”, “fulfill aspirations” and of course get basic facilities viz. shelter; food; clothing & education in order to empower and propel their desired future.</p>
        <p style="text-align: justify;">Now, in order to give it a shape, on one hand it directed her to liaise with NGOs operating at grass root levels, to identify kids across the State and on the other, with the premium English medium schools to accommodate Visamo Kids. The response was encouraging to offer free education. Some of the schools also favored with transport, uniform and even educational tour & picnic at no cost at all. Whereas, Physical, Parental, Developmental, Cultural, Societal & Educational facilities are also taken care of by VKF. Now, putting, all these together it empowers kids to face challenges and convert them into opportunities to meet their goals. Thus, the beginning was made that have fulfilled the dreams of eight kids so far.</p>

      <p align="center"><a class="btn btn-primary btn-lg btn-success" href="https://visamokids.org/">Visit Visamo Kids</a></p>
    </div>
{% endblock %}